* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}
#service-hero{
    background-image: url('/imgs/services.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#service-hero::before{
content: "";
position: absolute;
background-color: rgba(0, 0, 0, 0.76);
height: 60vh;
top: 0;
left: 0;
right: 0;
bottom: 0;
}
.service-inner{
    position: relative ;
    z-index: 1;
    text-align: center;
}
.service-inner h1{
    color: white;
    font-size: 52px;
    font-weight: 700;
}
.service-inner p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    width: 60%;
    margin: 0 auto;
}
#services{
    margin-top: 20px;
}
.service-data,
.service-data2{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
   justify-content: center;
    align-items: center;
}
.service-content{
    width: 50%;
    padding: 0 55px 0 90px;
}
.service2-content{
    width: 50%;
    padding: 0 90px 0 50px;
}
.service-content h2{
    font-size: 36px;
    font-weight: 700;
    color: black;
}
.service-content p{
    font-size: 18px;
    color: black;
    line-height: 25px;
    font-weight: 400;
}
.service-images{
    width: 50%;
}
.service2-images{
    width: 50%;
    text-align: end;
}
.service2-images img{
    text-align: end;
    width: 85%;
    height: auto;
    object-fit: cover;
    height: 480px;
}
.service-images img{
    width: 85%;
    height: auto;
    object-fit: cover;
    height: 480px;
}
#footer{
    margin-top: 50px;
}
@media screen and (max-width:1024px) {
    .service-inner h1 {
        font-size: 48px;
    }
    .service-inner p {
        font-size: 16px;
        line-height: 25px;
    }
    .service-content {
        width: 50%;
        padding: 0 20px 0 20px;
        margin: 0 20px;
    }
    .service-content h2 {
        font-size: 34px;
        line-height: 40px;
    }
    .service-content p {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
    }
    .service-images img {
        width: 90%;
        height: 340px;
    }
    .service2-images {
        width: 50%;
    }
    .service2-images img {
        height: 340px;
        width: 90%;
    }
    .service2-content {
        width: 50%;
        padding: 0 20px 0 20px;
    }
    #footer{
        margin-top: 160px;
    }
}

@media screen and (max-width:767px) {
    #service-hero {
        height: 50vh;
    }
    #service-hero::before {
        height: 50vh;
    }
    .service-inner h1 {
        font-size: 32px;
    }
    .service-inner p {
        font-size: 13px;
        line-height: 20px;
        width: 100%;
        padding: 0 10px;
    }
    .column {
        flex-direction: column;
    }
    .columnre{
        flex-direction: column-reverse;
    }
    .service-content,
    .service2-content {
        width: 100%;
        padding: 0 10px 0 10px;
    }
    .service-content h2,
    .service2-content h2 {
        font-size: 22px;
        line-height: 40px;
    }
    .service-content p,
    .service2-content p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }
    .service-images img,
    .service2-content img {
        width: 100%;
        height: 300px;
    }
    .service-images,
    .service2-images {
        width: 100%;
        text-align: center;
    } 
}